* {
    border: 1px solid red;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.left {
    background-image: url('bagels.jpg');
    background-size: cover;
}

.top, .bottom {
    background-color: #F9FAFB;
}

.tophalf {
    height: 50%;
}

p {
    padding-left: 1em;
    /* font-size: 1.2em; */
}

.top p {
    /* padding-left: 1em; */
    align-self: flex-end;
    font-weight: bold;
    font-size: 1.2em;
}

button {
    margin: 1em;
    border-radius: 4px;
    background-color: #ae622e;
    color:#F9FAFB;
    padding: 10px 30px 10px 30px;
}