div {
    border: 1px solid red;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.left {
    background-image: url('bagels.jpg');
    background-size: cover;
}

.top {
    display: flex;
    
}

.top p {
    padding-left: 1em;
    align-self: flex-end;
    font-weight: bold;
    font-size: 1.2em;
}